.App{
    width: 100%;
}

.principal-container{
  width: 60%;
  display: flex ;
  justify-content: center;
  background-color: #ffff;
  margin: 0px 20%;
  box-shadow: 0px 10px 10px 0px #000;
}

.container{
  width: 100%;
  margin-top: 5%;
}

.pills-container{

  width: 60%;
  display: flex ;
  justify-content: start;
  background-color: #ffff;
  margin: 0px 20%;
  box-shadow: 0px 0px 10px 0px #000;
}

.pill{
  padding: 5px 15px;
  border-spacing: 1px solid #000;
  cursor: pointer;
  font-size: 18px;
}

.pill:hover{
  background-color: #f0f0f0;
}

.pill-active{
  color: rgb(102, 102, 248);
  padding: 5px 10px;
  border-spacing: 1px solid #000;
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
}


math-field::part(menu-toggle) {
  display: none;
}
